@charset "UTF-8";
@import "./tailwind.css";

body,
html {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: #5b5858;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: #5b5858;
    color: #fff;
    padding: 10px;
    text-align: center;
}