@charset "UTF-8";

// reset css
body,
html {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #c6c6c6;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #c6c6c6;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.air-conditioner-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .button-group {
        display: flex;
        gap: 12;
        align-items: center;
        justify-content: center;

        .button {
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            width: 80px;
        }
    }

}